/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


:root{
    --green: #0b9150;
    --black: #130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

img{
    height: 200px;
    width: auto;

}


/*form styles*/
#msform {
	
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 100%;
	
	
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
    width: auto;
    margin: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7 rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
    background: none;
}
#msform .action-button:hover, #msform .action-button:focus {
	background: var(--green);
    color:#fff;
}
/*headings*/
.fs-title {
	font-size: 25px;
	text-transform: uppercase;
	color: @primary-color;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 16px;
	color: #666;
	margin-bottom: 20px;
    text-align: left;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
    align-items: center;
	/*CSS counters to number the steps*/
	counter-reset: step;
    justify-content: center;
    display: flex;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 10%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: var(--green);
	color: white;
}
